body {
	padding-top: 50px;
}

#dropzone {
	width: 100%;
	height: 100px;
}
#dropzone.hover {
	background: #AAFFAA;
}
#dropzone.fade {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 1;
}


.unit-simple{
	font-weight: bold;
	color: #35952D;
}
.unit-kilo{
	font-weight: bold;
	color: #8B8D00;
}
.unit-mega{
	font-weight: bold;
	color: #BB7611;
}
.unit-giga{
	font-weight: bold;
	color: #BB1111;
}

.progress{
	background-color: #DDD;
}

.text-forcewrap{
	word-break: break-all;
	word-wrap: break-word; 
}

.input-file{
	display: inline-block;
	float: left;
}