body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}

#dropzone {
	background: #AAFFAA;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
}
#dropzone.hover {
	background: #00FF00;
}
#dropzone.fade {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 1;
}


.unit-simple{
	font-weight: bold;
	color: #35952D;
}
.unit-kilo{
	font-weight: bold;
	color: #8B8D00;
}
.unit-mega{
	font-weight: bold;
	color: #BB7611;
}
.unit-giga{
	font-weight: bold;
	color: #BB1111;
}


progress{
	height: 18px;
	border-radius: 10px;
	padding: 1px;
}
progress::-moz-progress-bar{
	/*bar*/
	border-radius: 10px;
	background-color: #222;
	padding: 0 10px 0 10px;
}
progress::-webkit-progress-bar{
	/*background*/
	height: 15px;
	border-radius: 10px;
	background-color: #E6E6E6;
	border: 1px solid #ccc;
	padding: 2px;
}
progress::-webkit-progress-value{
	/*bar*/
	border-radius: 10px;
	background-color: #222;
}